<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LogonTracer</title>
  <link rel="static/css/bootstrap.min.css">
  <link rel="static/css/bootstrap4-toggle.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
  <script src="static/js/jquery.min.js">
  <script src="static/js/Chart.min.js">
  <script src="static/js/jquery.floatThead.min.js">
  <script src="static/js/bootstrap4-toggle.min.js">
  <script src="static/js/popper.min.js">
  <script src="static/js/bootstrap.min.js">
  <script src="static/js/desvg.min.js">
  <!-- Neo4j JavaScript Driver -->
  <script src="static/js/neo4j-web.min.js">
  <script src="static/js/script.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-1 shadow">
    <a class="navbar-brand" href="#"><img class="my_svg" src="static/images/logo_timeline.svg" alt="top" width="144"></a>
    <div class="collapse navbar-collapse">
      <form class="navbar-nav mr-auto" role="search">
        <div class="form-group mt-3" id="itemForm">
          <div class="form-inline">
            <label class="sr-only" for="InputSelect">select</label>
            <select class="custom-select" id="InputSelect">
              <option>Username</option>
            </select>
            <input class="form-control my-2 my-lg-0 ml-1" type="text" value="administrator" id="query-input">
          </div>
        </div>
        <input type="button" class="btn btn-primary ml-1 mt-3 h-25" value="+" onclick="ItemField.add();" />
        <input type="button" class="btn btn-primary ml-1 mt-3 h-25 mr-1" value="-" onclick="ItemField.del();" />
        <span class="mt-3">
          <input type="checkbox" data-toggle="toggle" data-on="Table" data-onstyle="outline-info" data-height="38" data-off="Graph" data-offstyle="outline-primary" id="timelineTypes">
        </span>
        <button type="button" class="btn btn-outline-primary ml-1 mt-3 h-25" onclick="searchTimeline()">search</button>
        <button type="button" class="btn btn-outline-primary ml-1 mt-3 h-25" onclick="createAlltimeline()">all</button>
        <div class="btn-group  ml-1 mt-3 h-25">
          <button class="btn btn-outline-secondary" type="button">Download</button>
          <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="downloadSummary()" href="#">Summary</a>
            <a class="dropdown-item" onclick="downloadDetail()" href="#">Details</a>
          </div>
        </div>
        <div class="custom-control custom-switch ml-4 mt-4">
          <input type="checkbox" class="custom-control-input" id="darkSwitch">
          <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>

        <script src="static/js/dark-mode-switch.min.js"></script>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 main mt-3">
        <div id="error"></div>
        <div id="cy"></div>
        <div id="addcanvas"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var neo = neo4j.default;
    //Neo4j access settings
    var driver = neo.driver("bolt://{{ server_ip }}", neo.auth.basic("{{ neo4j_user }}", "{{ neo4j_password }}"));
    var session = driver.session();
    //createAlltimeline();

    var currentNumber = 0;
    var ItemField = {
      currentNumber: 0,
      itemTemplate: '<div class="form-inline my-5 my-lg-0"><label class="sr-only" for="InputSelect">select</label>\
                                <select class="custom-select" id="InputSelect_count_">\
                                <option>Username</option></select>\
                                <input class="form-control my-2 my-lg-0 ml-1"" type="text" id="query-input_count_"></div>',
      add: function() {
        currentNumber++;
        if (currentNumber <= 10) {
          var new_item = this.itemTemplate.replace(/_count_/mg, currentNumber);
          var new_area = document.createElement("div");
          new_area.setAttribute("id", "item" + currentNumber);
          var field = document.getElementById('itemForm');
          field.appendChild(new_area);
          document.getElementById('item' + currentNumber).innerHTML = new_item;
        }
      },
      del: function() {
        if (currentNumber == 0) {
          return;
        }
        var field = document.getElementById('itemForm');
        field.removeChild(field.lastChild);
        currentNumber--;
      }
    }

    $(function(){
      deSVG('.my_svg', true);
    });
  </script>
</body>

</html>
